body {
  font-family: arial;
  background-color: #f3e8ff;
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-inline: 150px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(82, 82, 82, 0.2);
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 25px;
}

.title {
  margin: 0;
}

.input-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 1fr 120px 20px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-inline: 10px;
}

.todo-grid {
  margin-bottom: 10px;
  color: rgb(45, 45, 45);
}

.input-grid {
  margin-bottom: 10px;
}

.name-input,
.date-input {
  font-size: 15px;
  padding: 8px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 8px;
  color: grey;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

button {
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.add-button {
  background-color: #6d28d9;
}

.delete-button {
  background-color: rgb(138, 55, 124);
}

.task-checkbox {
  margin-right: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid grey;
}

.task-elements {
  display: flex;
  align-items: center;
}

.date-elements {
  margin-left: 18px;
}